html, body{
	height: 100%;
	margin: 0px;
	margin-left: 2px;
	margin-right: 2px;
}

div.info{
	position: relative;
	width: 20%;
	min-height: 100%;
	max-height: 100%;
	border: 5px solid #000;
	border-right: 0px;
	border-radius: 25px 0px 0px 25px;
	padding: 10px;
	box-sizing: border-box;
	transition: 1s;
	float: left;
	overflow: hidden;
}

.fader{
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:35%;
	border-radius: 25px;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
}

div.center{
	width: 60%;
	min-height: 100%;
	border: 5px solid #000;
	border-radius: 0px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

div.inventory{
	width: 20%;
	min-height: 100%;
	border: 5px solid #000;
	border-left: 0px;
	border-radius: 0px 25px 25px 0px;
	padding: 10px;
	box-sizing: border-box;
	float: right;
}

div.progressButton{
	float: top;
	width: 100%;
	margin-bottom: 10px;
}

div.progressBar{
	float: right;
	border: 2px solid #000;
	box-sizing: border-box;
	width: 49%;
	height: 30px;
	background-color: white;
}
div.progressBar span{
	display: block;
	background-color: black;
	height: 100%;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000;
    background-color: #fff;
}
ul.tab li {
	float: left;
    border-right: 1px solid #000;
}
ul.tab li a {
	display: inline-block;
	background-color: #fff;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.tab li a:hover {
	color: white;
	background-color: #888;
}
ul.tab li a:focus, ul.tab li a.active {
	color: white;
	background-color: #000;
}
div.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

button.btnStyle{
	background-color: white;
	width: 49%;
	height: 30px;
	border: 2px solid #000;
	color: black;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	transition: 0.3s;
}
button.btnStyle:hover{
	color: white;
	background-color: black;
}
button.btnStyleDisabled{
	background-color: black;
	width: 49%;
	height: 30px;
	border: 2px solid #000;
	color: #ccc;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	transition: 0.3s;
}

p.simple{
	margin-top: 0px;
}
p.bold{
	margin-top: 0px;
	font-weight: bold;
}
p.alert{
	color: red;
	margin-top: 0px;
	font-weight: bold;
}